@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

section {
    margin-bottom: 50px;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
}

.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 16px sans-serif;
    padding: 45px 50px;
}

.footer-distributed p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
}
/* Footer links */

.footer-distributed p {
    font-size: 12px;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
}

.footer-distributed p a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
}

.footer-distributed  a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed  .link-1:before {
    content: none;
}

.footer-distributed a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
    .footer-distributed , .footer-distributed {
        text-align: center;
    }
    .footer-distributed {
        float: none;
        margin: 0 auto 20px;
    }
    .footer-distributed p {
        line-height: 1.8;
    }
}



h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #4b505e;
}

td {
    width: 100px;
    height: 100px;
}
table {
    margin: 5px auto;
    margin-bottom: 20px;
}
.vert {
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.hori {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}


.hello:hover {
    letter-spacing: 0.8em;
    background-image: linear-gradient(to right, #506d92 0%, #589392 51%, #5e81ad 100%);
}

.hello {
    color: white;
    text-decoration: none;
}

a {
    font: bold 14px Arial;
    height: 4em;
    width: 10%;
    /*padding: 1.5em auto;*/
    padding: 12px 16px 12px 16px;
    margin: 1em auto;
    background-color: #010101;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    transition: all 0.2s cubic-bezier(.4,0,.2,1);
    text-decoration: none;

}